# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


#temporary files
src/tmp/*
src/null

#gtag files
G????
G?????
*.xml
*.pdf
.git*
